# Server Configuration
PORT=8080
GIN_MODE=debug
CLIENT_ORIGIN=http://localhost:5173

# MongoDB Configuration
MONGO_URI=mongodb+srv://<username>:<password>@cluster.example.mongodb.net/livepoll
MONGO_DB_NAME=livepoll

# Redis Configuration
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0

# Authentication
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRATION_HOURS=24
